# Entorno virtual
venv/
env/

# Cache de Python
__pycache__/
*.py[cod]

# Base de datos local
*.db
*.sqlite3

# Archivos subidos (fotos/manuales)
static/uploads/*
!static/uploads/.gitkeep

# Variables de entorno
.env